/* [project]/styles/globals.css [client] (css) */
*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.right-\[35px\] {
  right: 35px;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-7 {
  right: 1.75rem;
}

.-bottom-8 {
  bottom: -2rem;
}

.-left-16 {
  left: -4rem;
}

.top-1\/3 {
  top: 33.3333%;
}

.top-2\/3 {
  top: 66.6667%;
}

.-left-12 {
  left: -3rem;
}

.-top-2 {
  top: -.5rem;
}

.top-1\/2 {
  top: 50%;
}

.top-6 {
  top: 1.5rem;
}

.-left-8 {
  left: -2rem;
}

.-left-\[55px\] {
  left: -55px;
}

.bottom-0 {
  bottom: 0;
}

.right-14 {
  right: 3.5rem;
}

.right-0 {
  right: 0;
}

.left-14 {
  left: 3.5rem;
}

.-right-16 {
  right: -4rem;
}

.-bottom-1 {
  bottom: -.25rem;
}

.bottom-1 {
  bottom: .25rem;
}

.bottom-4 {
  bottom: 1rem;
}

.bottom-6 {
  bottom: 1.5rem;
}

.bottom-5 {
  bottom: 1.25rem;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.z-\[10000\] {
  z-index: 10000;
}

.z-\[1000000\] {
  z-index: 1000000;
}

.-z-10 {
  z-index: -10;
}

.z-\[10000000\] {
  z-index: 10000000;
}

.z-\[1000\] {
  z-index: 1000;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-8 {
  margin-top: 2rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-40 {
  margin-top: 10rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-3 {
  margin-right: .75rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-screen {
  height: 100vh;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[30px\] {
  height: 30px;
}

.h-full {
  height: 100%;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[90px\] {
  height: 90px;
}

.h-12 {
  height: 3rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[400px\] {
  height: 400px;
}

.h-2 {
  height: .5rem;
}

.h-1\/3 {
  height: 33.3333%;
}

.h-20 {
  height: 5rem;
}

.h-1 {
  height: .25rem;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[4px\] {
  height: 4px;
}

.w-full {
  width: 100%;
}

.w-10\/12 {
  width: 83.3333%;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[210px\] {
  width: 210px;
}

.w-12 {
  width: 3rem;
}

.w-2 {
  width: .5rem;
}

.w-2\/12 {
  width: 16.6667%;
}

.w-1\/4 {
  width: 25%;
}

.w-\[350px\] {
  width: 350px;
}

.w-64 {
  width: 16rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-\[395px\] {
  width: 395px;
}

.w-16 {
  width: 4rem;
}

.w-3 {
  width: .75rem;
}

.flex-1 {
  flex: 1;
}

.origin-right {
  transform-origin: 100%;
}

.origin-left {
  transform-origin: 0;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[35deg\] {
  --tw-rotate: 35deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[-35deg\] {
  --tw-rotate: -35deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-x-0 {
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-x-100 {
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-32 {
  gap: 8rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-12 {
  gap: 3rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-1 {
  gap: .25rem;
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.75rem * var(--tw-space-x-reverse));
  margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-visible {
  overflow-y: visible;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.bg-custom-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(146 141 171 / var(--tw-bg-opacity));
}

.bg-steel-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(31 28 44 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#3d3d3d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(61 61 61 / var(--tw-bg-opacity));
}

.fill-custom-gray {
  fill: #928dab;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-6 {
  padding: 1.5rem;
}

.px-40 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pl-3 {
  padding-left: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pt-\[100px\] {
  padding-top: 100px;
}

.text-right {
  text-align: right;
}

.font-circular {
  font-family: Circular Std Bold;
}

.font-custom-font {
  font-family: Circular Std Bold, Helvetica, Arial, sans-serif;
}

.font-sans {
  font-family: Helvetica, Arial, sans-serif;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-\[6rem\] {
  font-size: 6rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-\[10rem\] {
  font-size: 10rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[6\.5rem\] {
  font-size: 6.5rem;
}

.text-\[1\.1rem\] {
  font-size: 1.1rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[85px\] {
  line-height: 85px;
}

.leading-10 {
  line-height: 2.5rem;
}

.tracking-\[3px\] {
  letter-spacing: 3px;
}

.tracking-\[2px\] {
  letter-spacing: 2px;
}

.text-steel-gray {
  --tw-text-opacity: 1;
  color: rgb(31 28 44 / var(--tw-text-opacity));
}

.text-custom-gray {
  --tw-text-opacity: 1;
  color: rgb(146 141 171 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-\[\#717171\] {
  --tw-text-opacity: 1;
  color: rgb(113 113 113 / var(--tw-text-opacity));
}

.text-\[\#3d3d3d\] {
  --tw-text-opacity: 1;
  color: rgb(61 61 61 / var(--tw-text-opacity));
}

.opacity-30 {
  opacity: .3;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-500 {
  transition-duration: .5s;
}

.duration-700 {
  transition-duration: .7s;
}

.duration-300 {
  transition-duration: .3s;
}

.\[text-shadow\:_0_5px_10px_rgba\(0\,0\,0\,0\.3\)\] {
  text-shadow: 0 5px 10px #0000004d;
}

.\[text-shadow\:1px_1px_0_\#000\,-1px_-1px_0_\#000\,1px_-1px_0_\#000\,-1px_1px_0_\#000\,1px_1px_0_\#000\] {
  text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

@font-face {
  font-family: Circular Std Bold;
  src: local(Circular Std Bold), url("/assets/fonts/circularstd-bold.otf") format("opentype"), url("/assets/fonts/circularstd-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background) ; --color-foreground: var(--foreground) ; --font-sans: var(--font-geist-sans) ; --font-mono: var(--font-geist-mono) ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hover\:translate-x-4:hover {
  --tw-translate-x: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:grayscale-0:hover {
  --tw-grayscale: grayscale(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.group:hover .group-hover\:origin-left {
  transform-origin: 0;
}

.group:hover .group-hover\:translate-x-\[5px\] {
  --tw-translate-x: 5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-x-100 {
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-custom-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(146 141 171 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:fill-steel-gray {
  fill: #1f1c2c;
}

.group:hover .group-hover\:text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-steel-gray {
  --tw-text-opacity: 1;
  color: rgb(31 28 44 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-0 {
  opacity: 0;
}

.group:hover .group-hover\:\[text-shadow\:none\] {
  text-shadow: none;
}


/*# sourceMappingURL=styles_globals_79636149.css.map*/
